<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>



 <html>
 <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
 * {
   margin:0;
   padding:0;
   width:100%;
   height:100%;
   background-color:#404040;
   box-sizing: border-box;
 }

.extra {
   background-color:#808080;
}
 </style> 
 </head>
 <body>Hallo Welt
   <!--video poster="/data/${id}" preload="auto">
    <source src="/data/${id}"></source>
    </video>
      <script>
        document.querySelector("video").addEventListener('dblclick',(ev)=>{
          ev.target.classList.toggle('extra');
          ev.target.toggleAttribute("controls");
        });
      </script-->
    </body>
  </html>

